<main>
  <div class="container-fluid">
    <h1 class="mt-4">Usuarios</h1>


    <div class="row justify-content-center">
      <div class="col-lg-8">
        

          <%= render 'form' %>       
          
        
      </div>
    </div>

    
</main>

